<<<<<<< HEAD
.SideBar {
  width: 300px;
  padding: 10px 25px;
  box-sizing: border-box;
  margin-top: 0px;
  height: 85.5vh;
  background-color: white;
  transition: right 1s;
  position: fixed;
  @media (min-width: 250px) and (max-width: 1200px) {
    right: -100%;
  }
  .close {
    width: 100%;
    text-align: left;
    @media (min-width: 1200px) {
      display: none;
    }
    svg {
      font-size: 20px;
      cursor: pointer;
      padding: 5px;
      color: #333;
      border-radius: 5px;
    }
  }
  .dropdown {
    .dropdownHead {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: sans-serif, "Cairo";
      letter-spacing: 1px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: -18px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 3px solid rgb(7, 216, 7);
      }
    }
    .dropdownBody {
      cursor: pointer;
      padding: 0 10px;
      font-family: sans-serif, "Cairo";
      font-size: 15px;
      letter-spacing: 1px;
      text-align: right;
      color: #525252;
      font-weight: normal;
    }
  }
}
=======
.SideBar {
  width: 300px;
  padding: 10px 25px;
  box-sizing: border-box;
  margin-top: 0px;
  height: 85.5vh;
  background-color: white;
  transition: right 1s;
  position: fixed;
  @media (min-width: 250px) and (max-width: 768px) {
    right: -100%;
  }
  .close {
    width: 100%;
    text-align: left;
    @media (min-width: 768px) {
      display: none;
    }
    svg {
      font-size: 20px;
      cursor: pointer;
      padding: 5px;
      color: #333;
      border-radius: 5px;
    }
  }
  .dropdown {
    .dropdownHead {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: sans-serif, "Cairo";
      letter-spacing: 1px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: -18px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 3px solid rgb(7, 216, 7);
      }
    }
    .dropdownBody {
      cursor: pointer;
      padding: 0 10px;
      font-family: sans-serif, "Cairo";
      font-size: 15px;
      letter-spacing: 1px;
      text-align: right;
      color: #525252;
      font-weight: normal;
    }
  }
}
>>>>>>> bde3f393739ebfabef23ae5ddd272587ea8d00a8
